<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eg.alexu.eng.mobdev.gradprojdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.Splash"
            android:theme="@style/SplashTheme" />
        <activity
            android:name=".view.Book_Shelf_Activity"
            android:label="@string/title_activity_book__shelf_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controller.SceneCreator"
            android:label="@string/title_Scene_Creator"
            android:parentActivityName=".view.SceneEngine" />
        <activity
            android:name=".view.SceneEngine"
            android:label="@string/title_Scene_Engine" />
        <activity
            android:name=".view.DisplayModeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_display_mode"
            android:theme="@style/FullscreenTheme"></activity>
    </application>

</manifest>